__pycache__

project_root.py

# Pycaches
__pycache__/
*.py[cod]
*$py.class

# Plots directory
plots/FC_imfs/
plots/FC_network_band_comparison/
plots/FC_parcel_band_comparison/
plots/permutation_test_results/
plots/permutation_test_results.png

# Processed MEMD data
data/MEMD_processed/
data/*/old

# Artifacts
artifacts/

# Plots
HC_NDAR_INVAL101MH2_Yan2023_MEMD_network_band_comparison.svg
HC_NDAR_INVAL101MH2_Yan2023_MEMD_parcel_band_comparison.svg
HC_NDAR_INVAL101MH2_Yan2023_MEMD_slow_band_signals.svg
mean_network_fc_comparison.svg
*.png
*.gif
*.svg

# Shell script for starting analysis
start_analysis.sh
start_analysis.ps1

# todo
todo.txt