__pycache__

project_root.py

# Plots directory
plots/__pycache__/
plots/FC_imfs/
plots/FC_network_band_comparison/
plots/FC_parcel_band_comparison/
plots/permutation_test_results/
plots/permutation_test_results.png

# Processed MEMD data
data/MEMD_processed/

# Plots
HC_NDAR_INVAL101MH2_Yan2023_MEMD_network_band_comparison.svg
HC_NDAR_INVAL101MH2_Yan2023_MEMD_parcel_band_comparison.svg
HC_NDAR_INVAL101MH2_Yan2023_MEMD_slow_band_signals.svg
mean_network_fc_comparison.svg
missing_labels_mask_slices.gif
schaefer_vs_bold_axial_slices.gif
schaefer_vs_bold_sagittal_slices.gif
schaefer_vs_bold_coronal_slices.gif

# Shell script for starting analysis
start_analysis.sh
start_analysis.ps1


# todo
models/todo.txt